body {
  background-color: #fff;
  padding:50px;
  color: #616161;
  font-weight:400;
  font-family:georgia,serif;
  font-size: medium;
  line-height:1.5;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

section {
  width:860px;
  padding-bottom:50px;
}

hr {
  border:0;
  background:#d5d5d5;
  height:1px;
  margin:0 0 20px;
  float:left;
  width:860px;
}

.module {
  display: block;
  float: left;
  min-height: 1px;
  width:860px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.info-left {
    display: block;
    float: left;
    min-height: 1px;
    width: 600px;
}

.info-right {
    display: block;
    float: right;
    min-height: 1px;
    width: 260px;
}

#Personal-Name {
  color: rgba(34, 34, 34);
  margin-top: 5px;
  font-size:xx-large;
  font-weight:bold;
}

#Personal-introduction {
  color: rgba(34, 34, 34);
  margin-top: 60px;
  font-size:large;
  font-weight:bold;
}

.personal-photo {
  max-width:200px;
}

.p-head {
  color: rgba(34, 34, 34);
  font-size:large;
  font-weight:bold;
}

.publication {
    display: block;
    min-height: 1px;
    width: 860px;
    padding-top: 5px;
}

.pub-img-bar {
  display: block;
  min-height: 1px;
  float: left;
  width: 300px;
}

.pub-img {
  width: 300px;
}

.pub-title {
  float: left;
  display: block;
  min-height: 1px;
  width: 560px;
  padding-top: 5px;
}

.journal-conference-reviewer {
  line-height: normal;
}
